<div class="menu-item-tile">
<h1>My Info</h1><br>
    <span ng-if="myinfoCtrl.notFound">
        Not signed up yet. <a ui-sref="public.signup">SignUp Now!</a>
        </span>
    <span ng-if="!myinfoCtrl.notFound">
    {{myinfoCtrl.user.firstName}} {{myinfoCtrl.user.lastName}}<br>
    EMail : {{myinfoCtrl.user.email}}<br>
    Phone : {{myinfoCtrl.user.phone}}<br>
    Favourite Dish : {{myinfoCtrl.user.fav}}<br><br>
    <img class="img-responsive" width="250" height="150" ng-src="{{myinfoCtrl.dish.img}}" alt="{{$ctrl.menuItem.name}}"><br>
    {{ myinfoCtrl.dish.name }}<br>
    {{ myinfoCtrl.dish.description }}<br>
    </span>
</div>