<div class="menu-item-tile">
    <h1><p>My Info</h1></p><br>
    <span ng-if="myinfoCtrl.notFound">
        <p>Not signed up yet. <a ui-sref="public.signup">SignUp Now!</a></p>
        </span>
    <span ng-if="!myinfoCtrl.notFound">
        <p>{{myinfoCtrl.user.firstName}} {{myinfoCtrl.user.lastName}}</p>
        <p>EMail : {{myinfoCtrl.user.email}}</p>
        <p>Phone : {{myinfoCtrl.user.phone}}</p>
        <p>Favourite Dish : {{myinfoCtrl.user.fav}}</p><br>
        <img class="img-responsive" width="250" height="150" hspace="50" ng-src="{{myinfoCtrl.dish.img}}" alt="{{$ctrl.menuItem.name}}"><br>
        <p>{{ myinfoCtrl.dish.name }}</p>
        <p>{{ myinfoCtrl.dish.description }}</p><br>
    </span>
</div>