<!DOCTYPE html>
<HTML ng-app="MyApp">
<HEAD>
    <link rel="stylesheet" type="text/css" href="style.css">
    <TITLE>Week1Assignment</TITLE>
    <script src="angular.min.js"></script>
    <script src="My.js"></script>
</HEAD>
<BODY>
<h1>Food!</h1>
<div ng-controller="MyController">
    <p>Testing</p>
    <p>Food List:</p>
    <input type="text" class="{{basket.colour}}" ng-model="items"/>
    <button ng-click="displayMsg();">Check If Too Much</button>
    <br>
    {{basket.message}}<br>
    {{basket.note}}
</div>
</BODY>
</HTML>